:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.4;
    color: var(--main-white);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

.nav-link {
    display: flex;
    margin-right: 2rem;
    margin-top: 23px;
    margin-bottom: 23px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var( --main-black);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
    font-size: 4rem;
}

#welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
    margin-top: 50px;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    line-height: normal;
}


.projects-section-header, h2 {
    font-size: 42px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.project-image {
    height: calc(100% - 1.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 23px;
    padding: 2rem 0.5rem;
    background: var(--main-gray);
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

h2 {
    font-size: 4rem;
}

.contact-section > p {
    font-style: italic;
    margin-top: 42px;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.btn {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 2px;
}
.contact-details {
    font-size: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.fa-facebook-square:before {
    content: "\f082";
}

.fa-github:before {
    content: "\f09b";
}

.fa-mobile-alt:before {
    content: "\f3cd";
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

footer > p {
    margin: 1rem;
    font-size: 19px;

}

@media (max-width: 767px) {
    .nav {
        width: 93%;
    }
}